<h1>New Blog Post</h1>
<%= form_for @blog_post do |form| %>
    <div>
        <%= form.label :title %> <br>
        <%= form.text_field :title %>
        <% if form.object.errors.any? %>
            <% form.object.errors.full_messages_for(:title).each do |message| %>
                <div style="color: red;"><%= message %></div>
            <% end %>
        <% end %>
    </div>
    <div>
        <%= form.label :body %> <br>
        <%= form.text_area :body %>
        <% if form.object.errors.any? %>
            <% form.object.errors.full_messages_for(:body).each do |message| %>
                <div style="color: red;"><%= message %></div>
            <% end %>
        <% end %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
